<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATWEB</title>
    <link rel="stylesheet" href="/assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/nprogress/nprogress.css">
    <link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
    <main class="wrapper-two">
        <div class="card-box">
            <section class="right second">
                <div class="chat-head">
                    <span class="fas fa-arrow-left back-arrow"></span>
                    <img id="current-img" class="current" alt="profilepicture" src="/assets/img/boy.png">
                    <div class="chat-name">
                        <h1 id="current-username" class="current font-name pt-1" data-userid="1">Nicole Rammelmüller</h1>
                        <p class=" font-online"><span id="current-status">online</span> 10:01</p>
                    </div>

                    <div class="chat-ico">
                        <i class="fa fa-paperclip fa-lg" aria-hidden="true" style=""></i>
                        <i class="fa fa-bars fa-lg" aria-hidden="true" id="show-contact-information" style=""></i>
                        <i class="fa fa-times fa-lg" aria-hidden="true" id="close-contact-information" style="display: none;"></i>
                    </div>


                </div>
                <div class="wrap-chat">
                    <div class="chat">
                        <div class="chat-bubble you">
                            <div class="your-mouth"></div>
                            <div class="content">Haee! Gehen wir am Wochenende fort?</div>
                            <div class="time">17:24</div>
                        </div>
                        <div class="chat-bubble me">
                            <div class="my-mouth"></div>
                            <div class="content">Ja wäre ich voll dabei!</div>
                            <div class="time">17:38</div>
                        </div>
                        <div class="chat-bubble you">
                            <div class="your-mouth"></div>
                            <div class="content">Schreiben wir uns morgen zu zusammen? Habe grad voll den Stess. :/</div>
                            <div class="time">17:40</div>
                        </div>
                        <div class="chat-bubble me">
                            <div class="my-mouth"></div>
                            <div class="content">Ja klar!</div>
                            <div class="time">17:41</div>
                        </div>
                        <div class="chat-bubble me">
                            <div class="my-mouth"></div>
                            <div class="content">hello</div>
                            <div class="time">16:42</div>
                        </div>
                        <div class="chat-bubble me">
                            <div class="my-mouth"></div>
                            <div class="content">hii</div>
                            <div class="time">17:25</div>
                        </div>
                    </div>
                    <div class="information" style="display: none;"><img src="/assets/img/boy.png">
                        <div>
                            <h1>Name:</h1>
                            <p>Nicole Rammelmüller</p>
                        </div>
                        <div id="listGroups">
                            <h1>Gemeinsame Gruppen:</h1>
                            <div class="listGroups"><img src="/assets/img/boy.png">
                                <p>Cool Kids</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-message">
                    <div class="message">
                        <textarea type="text" class="input-message" placeholder="Schreibe eine Nachricht"></textarea>
                    </div>
                    <i class="fa fa-play mt-4 fa-lg" aria-hidden="true"></i>
                </div>
            </section>
        </div>
    </main>



    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/nprogress/nprogress.js"></script>
    <script src="/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="/assets/vendor/validator/validator.js"></script>
    <script src="/assets/js/script.js"></script>

</body>

</html>