<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATWEB</title>
    <link rel="stylesheet" href="/assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/nprogress/nprogress.css">
    <link rel="stylesheet" href="/assets/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
    <main class="wrapper-two">
        <div class="card-box">
            <div class="left-panel">
                <div class="left-panel-header">
                    <img src="/assets/img/man.png">
                    <div class="icons">
                        <i class="fa fa-comment fa-lg mr-3" aria-hidden="true"></i>
                        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="contact-list second">
                    <div class="contact " id="4"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Nicole Rammelmüller</h1>
                                <p class="font-preview">hello</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>16:42</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="6"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Cool Kids</h1>
                                <p class="font-preview">Mmh, lecker :) Freu mich!</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>17:54</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="5"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Family</h1>
                                <p class="font-preview">Ich schätze so um 7 Uhr, aber melde mich noch!</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>17:44</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="3"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Marina Pühringer</h1>
                                <p class="font-preview">Ja klar!</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>17:41</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="2"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Papa</h1>
                                <p class="font-preview">Kein Problem ;)</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>17:31</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="1"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Mama</h1>
                                <p class="font-preview">Bis Freitag :)</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>17:21</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="0"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Linda Gahleitner</h1>
                                <p class="font-preview">Jap, ich bin um circa 15:00 auf der Landstraße :)</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>16:50</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="0"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Linda Gahleitner</h1>
                                <p class="font-preview">Jap, ich bin um circa 15:00 auf der Landstraße :)</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>16:50</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="0"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Linda Gahleitner</h1>
                                <p class="font-preview">Jap, ich bin um circa 15:00 auf der Landstraße :)</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>16:50</p>
                        </div>
                    </div>
                    <div class="contact chatroom" id="0"><img src="/assets/img/boy.png" alt="profilpicture">
                        <div class="contact-preview">
                            <div class="contact-text">
                                <h1 class="font-name">Linda Gahleitner</h1>
                                <p class="font-preview">Jap, ich bin um circa 15:00 auf der Landstraße :)</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            <p>16:50</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-panel">
                <div class="right-panel-header">

                    <div class="search second">
                        <i class="fa fa-search fa mt-1 mr-1 ml-1" aria-hidden="true"></i>
                        <input type="text" class="input-search" placeholder="search chat">
                    </div>
                </div>
                <div class="right-panel-header-second">
                    <h4>Friends</h4>
                </div>
                <div class="friends-list">
                    <a href="#" class="frien-card chatroom" id="12">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>


                    <a href="#" class="frien-card chatroom" id="3">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status ">

                        </div>
                    </a>



                    <a href="#" class="frien-card chatroom" id="34">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>




                    <a href="#" class="frien-card chatroom" id="5">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>



                    <a href="#" class="frien-card chatroom" id="10">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>


                    <a href="#" class="frien-card chatroom" id="44">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>


                    <a href="#" class="frien-card chatroom" id="9">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>


                    <a href="#" class="frien-card chatroom" id="7">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>


                    <a href="#" class="frien-card chatroom" id="5">
                        <img src="/assets/img/man.png" alt="">
                        <h3>Sammy Aniekan</h3>
                        <div class="friend-status active">

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>



    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/assets/vendor/nprogress/nprogress.js"></script>
    <script src="/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="/assets/vendor/validator/validator.js"></script>
    <script src="/assets/js/script.js"></script>

</body>

</html>